{% extends "layout/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="section-title">Lịch sử đặt vé của bạn</h2>
    <div class="table-responsive mt-4">
        <table class="table table-hover align-middle">
            <thead class="table-dark">
            <tr>
                <th>Mã vé</th>
                <th>Phim</th>
                <th>Suất chiếu</th>
                <th>Ghế</th>
                <th>Giá vé</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            {% for b in bookings %}
            <tr>
                <td>#{{ b.id }}</td>
                <td>{{ b.movie_name }}</td>
                <td>{{ b.show_time }}</td>
                <td>{{ b.seat_number }}</td>
                <td>{{ "{:,.0f}".format(b.price) }}đ</td>
                <td>
                    {% if b.status.value == 3 %} <span>Đã sử dụng</span>
                    {% elif b.status.value == 1 %} <span>Vé đã thanh toán</span>
                    {% elif b.status.value == 2 %} <span>Vé đã bị hủy</span>
                    {% else %}
                    <small class="fst-italic"></small>
                    {% endif %}
                </td>
                <td>
                    {% if b.status.value == 0 %}
                        <a class="badge btn-success text-decoration-none"  href="/payment/{{ b.bill_id }}">Thanh toán</a>
                        <a class="badge btn-danger text-decoration-none" href="/user/cancel-ticket/{{ b.id }}">Huỷ vé</a>
                    {% elif b.status.value == 1 %}
                        <a class="badge btn-danger text-decoration-none">Huỷ vé</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7" class="text-center py-4">Bạn chưa có vé nào trong danh sách này!!!</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}