{% extends 'admin/master.html' %}

{% block body %}
<h3 class="text-info text-center mt-5">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN TRỊ</h3>


{% if current_user.is_authenticated and current_user.is_admin %}
<table class="table mt-5">
    <tr>
        <th>Phim</th>
        <th>Vé</th>
        <th>Doanh thu</th>
        <th>Holding</th>
        <th>Paid</th>
        <th>Cancelled</th>
    </tr>

    {% for row in stats %}
    <tr>
        <td>{{ row.title }}</td>
        <td>{{ row.total_tickets }}</td>
        <td>{{ "{:,}".format(row.revenue) }} VND</td>

        <td style="color: orange; font-weight: bold;">
            {{ row.holding }}
        </td>

        <td style="color: green; font-weight: bold;">
            {{ row.paid }}
        </td>

        <td style="color: red; font-weight: bold;">
            {{ row.cancelled }}
        </td>
    </tr>
    {% endfor %}
</table>

<form method="get" class="row mb-4 mt-4">
    <div class="col-md-3">
        <label>Từ ngày</label>
        <input type="date" name="from_date" class="form-control" value="{{ request.args.get('from_date', '') }}">
    </div>

    <div class="col-md-3">
        <label>Đến ngày</label>
        <input type="date" name="to_date" class="form-control" value="{{ request.args.get('to_date', '') }}">
    </div>

    <div class="col-md-3 d-flex align-items-end">
        <button class="btn btn-primary">Lọc</button>
    </div>
</form>

<h3 class="text-info text-center">Biểu đồ doanh thu phim</h3>
<canvas id="revenueChart" class="mb-5" height="150"></canvas>

<h3 class="text-info text-center">Danh sách phim hot (TOP10 lượt đặt vé cao nhất)</h3>
<canvas id="hotChart" class="mb-5"></canvas>

{% else %}

    {% if err_msg%}
    <div class="alert alert-danger">{{err_msg}}</div>
    {% endif %}

    <form method="post" action="/login-admin">
        <div class="form-group mb-3 mt-3">
            <label for="username">Tài khoản</label>
            <input type="text" class="form-control" id="username" placeholder="Nhập tài khoản" name="username">
        </div>

        <div class="form-group mt-3 mb-3">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" name="password">

        </div>

        <div class="form-group mt-3 mb-3">
            <button class="btn btn-primary" type="submit">ĐĂNG NHẬP</button>
        </div>
    </form>
    {%endif%}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const revenueLabels = [
        {% for row in chart_stats %}
            "{{ row.title }}",
        {% endfor %}
    ];

    const revenueData = [
        {% for row in chart_stats %}
            {{ row.revenue or 0 }},
        {% endfor %}
    ];

    const hotLabels = [
        {% for row in stats|sort(attribute='total_tickets', reverse=True) %}
            {% if loop.index <= 10 %}
                "{{ row.title }}",
            {% endif %}
        {% endfor %}
    ];

    const hotData = [
         {% for row in stats|sort(attribute='total_tickets', reverse=True) %}
            {% if loop.index <= 10 %}
                {{ row.total_tickets }},
            {% endif %}
        {% endfor %}
    ];

    let revenueChart;
    function createRevenueChart() {
        const ctx = document.getElementById('revenueChart').getContext('2d');
        if (revenueChart) {
            revenueChart.destroy();
        }

        revenueChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: revenueLabels,
                datasets: [{
                    label: 'Doanh thu (VND)',
                    data: revenueData,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return context.raw.toLocaleString() + " VND";
                            }
                        }
                    }
                }
            }
        });
    }

    let hotChart;
    function createHotChart() {
        const ctx = document.getElementById('hotChart').getContext('2d');

        hotChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: hotLabels,
                datasets: [{
                    label: 'Lượt đặt vé',
                    data: hotData,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true
            }
        });
    }

    window.onload = function() {
        createRevenueChart();
        createHotChart();
    };
</script>

{% endblock %}